/* RFM PORTFOLIO / effects.css */


/* =========================================================
   CURSOR GLOW
   ========================================================= */

.cursor-glow {
  position: fixed;

  width: 360px;
  height: 360px;

  transform:
    translate(-50%, -50%);

  border-radius: 50%;

  background:
    radial-gradient(
      circle,
      rgba(98, 217, 255, 0.07),
      transparent 65%
    );

  pointer-events: none;

  z-index: -1;

  filter: blur(5px);
}


/* =========================================================
   REVEAL ANIMATION
   ========================================================= */

.reveal {
  opacity: 0;

  transform:
    translateY(35px);

  transition:
    opacity 1s cubic-bezier(
      0.16,
      1,
      0.3,
      1
    ),
    transform 1s cubic-bezier(
      0.16,
      1,
      0.3,
      1
    );
}

.reveal.is-visible {
  opacity: 1;

  transform:
    translateY(0);
}


/* =========================================================
   SCROLLBAR
   ========================================================= */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #02050a;
}

::-webkit-scrollbar-thumb {
  background: #17374b;

  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background:
    var(--blue-dark);
}
